<div class="content-container">
    <!-- Product Display -->
    <div class="contact-section yawa">
        <div class="row">
            <!-- <h3 class="center display-block margin-zero">Send a Message.</h3> -->
        </div>
        <div class="row">
            <div class="col-3">
                
            </div>
            <div class="col-9">
                <h3 class="display-block margin-zero margin-bottom-30">Send a Message.</h3>
                <form id="contact">
                    <div class="contact-wrap">
                        <div class="form-name col-12 padding-zero margin-bottom-30">
                            <div class="col-12 padding-zero">
                                <label class="uppercase">*Name</label>
                            </div>
                            <div class="col-12 padding-zero">
                                <input id="c-name" class="input" type="text" placeholder="" data-id="contact_name">
                            </div>
                        </div>
                        <div class="form-email col-12 padding-zero margin-bottom-30">
                            <div class="col-12 padding-zero">
                                <label class="uppercase">*Email</label>
                            </div>
                            <div class="col-12 padding-zero">
                                <input id="c-email" class="input" type="email" placeholder="" data-id="contact_email">
                            </div>
                        </div>
                        <div class="form-phone col-12 padding-zero margin-bottom-30">
                            <div class="col-12 padding-zero">
                                <label class="uppercase">Phone</label>
                            </div>
                            <div class="col-12 padding-zero">
                                <input id="c-phone" class="input" type="number" placeholder="" data-id="contact_phone">
                            </div>
                        </div>
                        <div class="form-message col-12 padding-zero margin-bottom-30">
                            <div class="col-12 padding-zero">
                                <label class="uppercase">*Message</label>
                            </div>
                            <div class="col-12 padding-zero">
                                <textarea id="c-message" class="input" data-id="contatc_message" height="150px"></textarea>
                            </div>
                        </div>
                        <div class="form-button col-12 padding-zero margin-bottom-30">
                            <button class="btn uppercase">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Product Display -->              
</div>