<div class="content-container">
    <!-- Product Display -->
    <div class="story-section">
        <div class="row">
            <h1 class="center display-block margin-zero">Beyond the excellent.</h1>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="section-img">
                    <img src="assets/product_imgs/BrandStory-img-01.png">
                </div>
            </div>
            <div class="col-6">
                <p class="h6">
                    Our brand purpose is to create beautiful, comfortable and high-quality products. And important, they are not so expensive for the people.
                </p>
                <p class="h6">
                    Manila is a passionate and creative city. When I arrived at Niloaki International Airports as a foreigner, I want to create a great brand here.
                </p>
                <p class="h6">
                    Our future journey is unknown and exploratory, so our brand name NAIAX. Hope we can go on this journey together.
                </p>
            </div>
        </div>
    </div>
    <!-- Product Display -->              
</div>